body {
  background-color: rgb(243, 176, 243);
}

header {
  margin-top: 10px;
  color: rgb(16, 16, 203);
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
}
.container {
  display: flex;
  max-width: 1200px;
  height: 680px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: rgb(71, 115, 191);
}
.form {
  padding: 40px 70px;
}

#user-instructions {
  padding: 20px 60px;
  border-radius: 10px;
  font-size: larger;
  border: 0ch;
  background-color: #f9f9fa;
}
#user-instructions:hover {
  cursor: pointer;
  background-color: azure;
}

img {
  width: 600px;
}
#submit {
  padding: 15px;
  border-radius: 10px;
  border: 0px;
  margin-left: 15px;
  font-size: larger;
  background-color: white;
  color: grey;
}
#submit:hover {
  cursor: pointer;
  background-color: azure;
}
#name {
  font-size: 50px;
  color: azure;
  margin-left: 150px;
}
p {
  line-height: 1.5em;
  font-size: 17px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: aliceblue;
  text-indent: 30px;
  padding-right: 40px;
  text-overflow: ellipsis;
  
}

a {
  color: blue;
}
a:hover {
  color: darkblue;
}

footer {
  margin-top: 40px;
  text-align: center;
  color: rgb(167, 30, 167);
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}
.generating {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
